
@model PagedList.IPagedList<Model.EF.Category>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Title{
    Admin
}
@section header{
    QUẢN LÝ DANH MỤC SẢN PHẨM
}
@section jsFooter{
    @*<script src="~/Assets/Shop/js/controller/CategoryController.js"></script>*@   
    <script src="~/Assets/Admin/js/controller/CategoryController.js"></script>
}
<div class="row">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-body">
                @using (Html.BeginForm("Index", "Category", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-md-4 form-group">
                            <input type="text" value="@ViewBag.SearchString" class="form-control bg-light border-0 small" placeholder="Search for..." name="searchString" />
                        </div>
                        <div class="col-md-4 form-group">
                            <button class="btn btn-success" type="submit">
                                Tìm kiếm
                            </button>
                            <a href="/Admin/Category/Create" class="btn btn-primary">
                                Thêm mới
                            </a>
                        </div>
                    </div>
                }
                <hr />
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tên Danh Mục</th>
                                <th>Mô tả</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr id="row_@item.Id">
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>
                                    <a href="#" class="btn-active" data-id="@item.Id">@Html.Raw(item.IsActive ? "Kích hoạt" : "Khoá")</a>
                                </td>
                                <td>
                                    <a href="/Admin/Category/Edit/@item.Id">Sửa</a>
                                    |
                                    @Ajax.ActionLink("Xoá", "Delete", new { @Id = item.Id }, new AjaxOptions
                              {
                                  Confirm = "Bạn có muốn xoá bản ghi này?",
                                  OnComplete = "$('#row_" + @item.Id + "').remove()",
                                  HttpMethod = "Delete"
                              })
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                </div>
            </div>
        </div>

    </div>
</div>
