@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Model.EF;
@model PagedList.IPagedList<Model.EF.Product>
@{
    Product productid = ViewBag.productid;
    Image image = ViewBag.image;
}

@{
    int categoryid = 1;
    if (ViewBag.categoryId != null)
    {
        categoryid = @ViewBag.categoryId;
    }
}
<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Sản phẩm đang Flash Sale</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-md-3 no-padding">
                <div class="single-product ">
                    <div class="product-img ">
                        <a href="/products/xemchitiet/@item.Id">
                            <img class="default-img" src="@Html.Action("getimage", "image", new { id = item.Id })" height="100%">
                            <img class="hover-img" src="@Html.Action("getimage", "image", new { id = item.Id })" alt="#">
                            <span class="out-of-stock ">Flash Sale</span>
                        </a>
                        <div class="button-head ">
                            <div class="product-action ">
                                <a href="/shop/index/@item.IdShop"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                            </div>
                            <div class="product-action-2 ">
                                <a title="Add to cart " href="# ">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content ">
                        <h3><a href="/products/xemchitiet/@item.Id">@item.Name</a></h3>
                        <div class="product-price ">
                            @{
                                var delPrice = item.Price - item.Price * item.Discount / 100;
                            }
                            <span class="old">@item.Price</span>
                            <span>@delPrice</span>
                        </div>
                    </div>
                </div>
            </div>
            }

        </div>
    </div>
</div>
</div>

