
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Model.EF;
@model Model.EF.Product
@{
    Category category = @ViewBag.category;
    Product product = @ViewBag.product;
    //List<Product> sanPhamGiamGia = ViewBag.sanPhamGiamGia;
    //Image image = @ViewBag.image;

}
@{ 
    List<Product> productLQ = ViewBag.productLQ;
}
@{
    long categoryid = 1;
    if (category.Id != 0)
    {
        categoryid = category.Id;
    }
}
<section>
    <input id="productid" type="hidden" value="@Model.Id" />
</section>
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="/Home/Index">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="/products/productlist/@categoryid">@category.Name<i class="ti-arrow-right"></i></a></li>
                        <li class="active">@product.Name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / catg header banner section -->
<!-- product category -->
<section id="aa-product-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-product-details-area">
                    <div class="aa-product-details-content">
                        <div class="row">
                            <!-- Modal view slider -->

                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="aa-product-view-slider">
                                    <div id="demo-1" class="simpleLens-gallery-container">
                                        <div class="simpleLens-container">
                                            <div class="simpleLens-big-image-container">
                                                <a class="simpleLens-lens-image">
                                                    <img src="@Html.Action("getImage","image", new { id = Model.Id})" class="simpleLens-big-image">
                                                </a>
                                                <img src="@Html.Action("getImage","image", new { id = Model.Id})" class="simpleLens-big-image-dropdown">

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Modal view content -->

                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="aa-product-view-content">
                                    <h3>@product.Name</h3>
                                    <div class="aa-price-block">
                                        @if (@product.Discount == 0)
                                        {
                                            <span class="aa-product-price">@product.Price VNĐ</span><span class="aa-product-price"></span>
                                        }
                                        else
                                        {
                                            
                                            var delPrice = @product.Price - @product.Price * @product.Discount / 100;
                                            
                                            <span class="aa-product-price"><strong>@product.Price VNĐ</strong></span>
                                            <span class="old"><strike>@delPrice VNĐ</strike></span>
                                        }

                                        <p class="aa-product-avilability">
                                            Tình trạng: 
                                            @if(product.Stock == 0){
                                                <strong>Hết hàng</strong>
                                            }else{
                                                <span>Còn hàng</span>
                                            }
                                      </p>
                                    </div>
                                    @*<p>${detail_product.description}</p>*@
                                    <div class="aa-prod-quantity">

                                        <p class="aa-prod-category">
                                            <c:forEach items="${name_cate_of_product}" var="name_cate">
                                                <strong>Danh mục:</strong> <a href="product.jsp">@Model.Category.Name</a>
                                            </c:forEach>
                                        </p>
                                    </div>
                                    <div class="aa-prod-view-bottom">
                                        <a class="btn" href="/Cart/AddCart/@Model.Id">Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="aa-product-details-bottom">
                        <ul class="nav nav-tabs aa-products-tab" id="myTab2">
                            <li class="active"><a href="#description" data-toggle="tab" class="">Mô tả</a></li>
                            <li><a href="#review" data-toggle="tab">Đánh giá</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="description">
                                <p>@product.Description</p>
                            </div>
                            <div class="tab-pane fade " id="review">
                                <div class="aa-product-review-area">
                                    <ul class="aa-review-nav">
                                        <c:forEach items="${reviewbyid}" var="review">
                                            <li>
                                                <div class="media">
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><strong>${review.name}</strong> - <span>${review.created}</span></h4>
                                                        <div class="aa-product-rating">
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                        <p>${review.content}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </c:forEach>
                                    </ul>
                                    <h4>Thêm đánh giá</h4>

                                    <!-- review form -->
                                    <form action="${pageContext.request.contextPath}/view/client/review?id=${detail_product.id}" method="post" class="aa-review-form">
                                        <div class="form-group">
                                            <label for="name">Tên</label>
                                            <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" placeholder="example@gmail.com" name="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="message">Đánh giá của bạn</label>
                                            <textarea class="form-control" rows="3" id="content" name="content"></textarea>
                                        </div>

                                        <button type="submit" class="btn btn-default aa-review-submit">Gửi</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Related product -->
                    <div class="product-area most-popular section">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="section-title">
                                        <h2>Sản phẩm tương tự</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="aa-promo-header ">
                                <h4 class="aa-promo-list-new "><a href="/products/productlist">Xem tất cả<i class="ti-angle-right "></i></a></h4>
                                <div class="clr "></div>
                            </div>

                            <div class="row">
                                <div class="col-12 ">
                                    <div class="owl-carousel popular-slider ">
                                        @foreach (var item in productLQ)
                                        {
                                            <div class="single-product ">
                                                <div class="product-img ">
                                                    <a href="/products/xemchitiet/@item.Id">
                                                        <img class="default-img" src="@Html.Action("getimage", "image", new { id = item.Id  })" alt="#" width="100%" height="100%">
                                                        <img class="hover-img" src="@Html.Action("getimage", "image", new { id = item.Id })" alt="#">
                                                        <span class="price-dec">-@item.Discount%</span>
                                                    </a>
                                                    <div class="button-head ">
                                                        <div class="product-action ">
                                                            <a href="/shop/index/@item.IdShop"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                            <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                        </div>
                                                        <div class="product-action-2 ">
                                                            <a title="Add to cart " href="# ">Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-content ">
                                                    <h3><a href="/products/xemchitiet/@item.Id">@item.Name</a></h3>
                                                    <div class="product-price ">
                                                        @{
                                                            var delPrice = item.Price - item.Price * item.Discount / 100;
                                                        }
                                                        <span class="old">@item.Price</span>
                                                        <span>@delPrice</span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / product category -->
<!--  end content-->
<!--  footer-->
<!-- end footer-->
