@model PagedList.IPagedList<Model.EF.Product>
@*@model List<Model.EF.Product>*@
@using PagedList.Mvc;
@{
    ViewBag.Title = "ShowAll";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    QUẢN LÍ SẢN PHẨM
}
@section jsFooter{
    <script src="~/Assets/Shop/js/controller/Advertisement.js"></script>
    <script src="~/Assets/Shop/js/controller/ProductController.js"></script>
    <script src="~/Assets/Shop/js/controller/FlaseSale.js"></script>
}
<div class="row">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="container">
                    <div class="container">
                        @*<ul class="nav nav-tabs nav-justified">*@
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" href="/Admin/ProductManage/ShowAll">Tất cả</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/ProductManage/ShowProductInFlaseSale">Flase Sale</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/ProductManage/ShowProductInAdvertisement">Quảng Cáo</a>
                            </li>

                        </ul>
                    </div>
                    <hr />
                    @using (Html.BeginForm("ShowAll", "ProductManage", FormMethod.Get))
                    {
                        <div class="row form-group">
                            <div class="col-md-4 form-group">
                                <input type="text" value="@ViewBag.SearchString" class="form-control bg-light border-0 small" placeholder="Search for..." name="searchString" />
                            </div>
                            <div class="col-md-4 form-group">
                                <button class="btn btn-success" type="submit">
                                    Tìm kiếm
                                </button>
                            </div>
                        </div>
                    }
                    <hr />
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="table-success">Tên Sản Phẩm</th>
                                    <th class="table-success">Mô tả</th>
                                    <th class="table-success">Nhãn hiệu</th>
                                    <th class="table-success">Nguồn gốc</th>
                                    <th class="table-success">Giá cả</th>
                                    <th class="table-success">Thời gian bảo hành</th>
                                    <th class="table-success">Lượt truy cập</th>
                                    <th class="table-success">Trạng thái</th>
                                    <th class="table-success">Thao tác</th>
                                </tr>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.Id">
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        <td>@item.Brand</td>
                                        <td>@item.Origin</td>
                                        <td>@item.Price</td>
                                        <td>@item.Warranty (Tháng)</td>
                                        <td>@item.Views</td>
                                        <td>
                                            <a href="#" class="btn-active" data-id="@item.Id">@(item.IsActive ? "Kích hoạt" : "Khoá")</a>
                                        </td>
                                        <td>
                                            @Ajax.ActionLink("Xoá", "Delete", new { @Id = item.Id }, new AjaxOptions
                                      {
                                          Confirm = "Bạn có muốn xoá bản ghi này?",
                                          OnComplete = "$('#row_" + @item.Id + "').remove()",
                                          HttpMethod = "Delete"
                                      })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
