@using Model.EF;

@{
    List<Product> advertising = ViewBag.advertising;
    List<Product> flashsale = ViewBag.flashsale;
    List<Product> hotproduct = ViewBag.hotproduct;
    List<Product> newproduct = ViewBag.newproduct;
}
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
@{
    int categoryid = 1;
    if (ViewBag.categoryId != null)
    {
        categoryid = @ViewBag.categoryId;
    }
}
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Electronic Shop</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Assets/User/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Assets/User/js/jquery.simpleGallery.js"></script>
    <script type="text/javascript" src="~/Assets/User/js/jquery.simpleLens.js"></script>

    <script type="text/javascript" src="~/Assets/User/js/slick.js"></script>
    <script type="text/javascript" src="~/Assets/User/js/nouislider.js"></script>
    <script type="text/javascript" src="~/Assets/User/js/validate.js"></script>
    <!-- <script type="text/javascript" src="~/Assets/User/js/custom.js"></script> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

    <link href="~/Assets/User/css/font-awesome.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="~/Assets/User/css/bootstrap.css" rel="stylesheet" />

    <!-- SmartMenus jQuery Bootstrap Addon CSS -->
    <link href="~/Assets/User/css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
    <!-- Product view slider -->
    <link rel="stylesheet" type="text/css" href="~/Assets/User/css/jquery.simpleLens.css">
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Assets/User/css/slick.css">
    <!-- price picker slider -->
    <link rel="stylesheet" type="text/css" href="~/Assets/User/css/nouislider.css">
    <!-- Theme color -->
    <link id="switcher" href="~/Assets/User/css/theme-color/default-theme.css" rel="stylesheet">

    <!-- Top Slider CSS -->
    <link href="~/Assets/User/css/sequence-theme.modern-slide-in.css" rel="stylesheet" media="all">
    <link href="~/Assets/User/css/style.css" rel="stylesheet">

    <!--End of Tawk.to Script-->
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="icon" type="image/png" href="~/Assets/User/images/logo-index.png" />
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet" />

    <!-- StyleSheet -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Assets/User/css2/bootstrap.css" />
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Assets/User/css2/magnific-popup.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/User/css2/font-awesome.css" />
    <!-- Fancybox -->
    <link rel="stylesheet" href="~/Assets/User/css2/jquery.fancybox.min.css" />
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/Assets/User/css2/themify-icons.css" />
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/Assets/User/css2/niceselect.css" />
    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate.css" />
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="~/Assets/User/css2/flex-slider.min.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/Assets/User/css2/owl-carousel.css" />
    <!-- Slicknav -->
    <link rel="stylesheet" href="~/Assets/User/css2/slicknav.min.css" />

    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" href="~/Assets/User/css2/reset.css" />
    <link rel="stylesheet" href="~/Assets/User/css2/style.css" />
    <link rel="stylesheet" href="~/Assets/User/css2/responsive.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />

    <link rel="stylesheet" href="~/Assets/User/css2/responsive.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="~/Assets/User/js2/jquery.min.js"></script>
    <script src="~/Assets/User/js2/jquery-migrate-3.0.0.js"></script>
    <script src="~/Assets/User/js2/jquery-ui.min.js"></script>
    <!-- Popper JS -->
    <script src="~/Assets/User/js2/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Assets/User/js2/bootstrap.min.js"></script>
    <!-- Color JS -->
    <script src="~/Assets/User/js2/colors.js"></script>
    <!-- Slicknav JS -->
    <script src="~/Assets/User/js2/slicknav.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/Assets/User/js2/owl-carousel.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/Assets/User/js2/magnific-popup.js"></script>
    <!-- Waypoints JS -->
    <script src="~/Assets/User/js2/waypoints.min.js"></script>
    <!-- Countdown JS -->
    <script src="~/Assets/User/js2/finalcountdown.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/Assets/User/js2/nicesellect.js"></script>
    <!-- Flex Slider JS -->
    <script src="~/Assets/User/js2/flex-slider.js"></script>
    <!-- ScrollUp JS -->
    <script src="~/Assets/User/js2/scrollup.js"></script>
    <!-- Onepage Nav JS -->
    <script src="~/Assets/User/js2/onepage-nav.min.js"></script>
    <!-- Easing JS -->
    <script src="~/Assets/User/js2/easing.js"></script>
    <!-- Active JS -->
    <script src="~/Assets/User/js2/active.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM"></script>
    <script src="~/Assets/User/js2/gmap.min.js"></script>
    <script src="~/Assets/User/js2/map-script.js"></script>
</head>

<body>
    <header class="header shop">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-12">
                        <!-- Top Left -->
                        <div class="top-left">
                            <ul class="list-main">
                                @{ if (Session["Name"] != null)
                                    {

                                        <li><i class="fa fa-home"></i> <a href="/Seller/Home/Index" target="_blank">Kênh người bán</a></li>
                                    }
                                    else
                                    {
                                        <li><i class="fa fa-home"></i> <a href="/Seller/Login/Index" target="_blank">Kênh người bán</a></li>
                                    } }

                                <li><i class="fa fa-envelope-square"></i> <a href="https://www.facebook.com/profile.php?=" target="_blank">electronicshop@gmail.com</a></li>
                            </ul>
                        </div>
                        <!--/ End Top Left -->
                    </div>
                    <div class="col-lg-7 col-md-12 col-12">
                        <!-- Top Right -->
                        <div class="right-content">
                            @{ if (Session["Name"] != null)
                                {
                                    <ul class="list-main">
                                        <li><i class="fa fa-user-circle"></i> <a href="/user/edit/@Session["IdUser"]">Hi!@Session["Name"]</a></li>
                                        <li><i class="fa fa-sign-in-alt"></i><a href="/Login/Logout">Đăng xuất</a></li>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="list-main">
                                        <li><i class="fa fa-power-off"></i><a href="/Login/Index">Đăng Nhập</a></li>
                                        <li><i class="fas fa-user-plus"></i><a href="/Login/Register">Đăng Ký</a></li>
                                    </ul>
                                }
                            }
                        </div>
                        <!-- End Top Right -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <div class="middle-inner">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/"><img src="~/Assets/User/images/logo-login-small.png" alt="logo img" width="100%"></a>
                    </div>
                    <!--/ End Logo -->
                    <!-- Search Form -->
                    <div class="search-bar-box">
                        <form action="/products/search" method="GET" class="form-search">
                            <input class="search_input" id="search-keyword" name="key" type="search" placeholder="Tìm kiếm sản phẩm...">
                            <button href="/products/search" class="search_btn" type="submit"><span class="fas fa-search"></span></button>
                        </form>
                    </div>
                    <div class="right-bar">
                        <!-- Search Form -->

                        <div class="sinlge-bar shopping">
                            <a href="/cart/cart" class="single-icon">
                                <span class="fas fa-cart-arrow-down"></span>
                                <span class="aa-cart-title">GIỎ HÀNG</span>
                                <span class="total-count">@Html.Action("cart_partial", "cart")</span>
                            </a>
                            <!-- Shopping Item -->
                            @*<div class="shopping-item">
                                    <div class="dropdown-cart-header">
                                        <span> Sản phẩm</span>
                                        <a href="/cart/cart">Xem giỏ hàng</a>
                                    </div>
                                    @Html.Action("Cart_partial", "Cart")
                                </div>*@
                            <!--/ End Shopping Item -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="header-inner">
            <div class="container">
                <div class="cat-nav-head">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="all-category">
                                <h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>Danh mục</h3>
                                <ul class="main-category">
                                    @Html.Action("GetCategory_Home", "Category")
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-12 ">
                            <div class="menu-area ">
                                <!-- Main Menu -->
                                <nav class="navbar navbar-expand-lg ">
                                    <div class="navbar-collapse ">
                                        <div class="nav-inner ">
                                            <ul class="nav main-menu menu navbar-nav ">
                                                <li class="active "><a href="/">Trang chủ</a></li>
                                                <li>@Html.ActionLink("Sản Phẩm", "ProductList", "Products")</li>

                                                </li>
                                                <li>
                                                    <a href="/products/flashsale">Flash sale<span class="new ">Hot</span></a>

                                                </li>
                                                <li>
                                                    <a href="/home/security">Bảo mật</a>
                                                </li>
                                                <li><a href="/home/contact ">Liên hệ</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                                <!--/ End Main Menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="hero-slider">
        <!-- Single Slider -->
        <div class="single-slider">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-9 offset-lg-3 col-12">
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
    </section>
    <!--/ End Slider Area -->
    <!-- Start Small Banner  -->
    <section class="small-banner section">
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in advertising)
                {
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-banner">
                            <img src="@Html.Action("getimage","image", new { id = @item.Id })" alt="#">
                            <div class="content">
                                <h3>@item.Name</h3>
                                <div class="button">
                                    <a href="/products/xemchitiet/@item.Id" class="btn">Shop Now!</a>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
    <section class="aa-promo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-promo-area">
                        <div class="aa-promo-header ">
                            <h2 class="aa-promo-title "><i class="fas fa-bolt "></i> Flash Sale</h2>
                            <h4 class="aa-promo-list "><a href="/products/flashsale">Xem tất cả<i class="ti-angle-right "></i></a></h4>
                            <div class="clr "></div>
                        </div>

                        <div class="row">
                            @foreach (var flashsaleItem in flashsale)
                            {
                                <!-- promo left -->
                                <div class="col-md-4 no-padding">
                                    <div class="aa-promo-left">
                                        <a href="/products/xemchitiet/@flashsaleItem.Id">
                                            <div class="aa-promo-banner">
                                                <img src="@Html.Action("getimage", "image", new { id = @flashsaleItem.Id })" alt=" @flashsaleItem.Name" style="max-width: 300px; max-height: 300px;">
                                                <div class="aa-prom-content">
                                                    <span> @flashsaleItem.Discount%</span>
                                                    <h4>@flashsaleItem.Name</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- promo right -->

                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="product-area section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Giảm giá mạnh</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product-info">
                        <div class="nav-main">
                            <!-- Tab Nav -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                @Html.Action("GetCategory", "Category")
                            </ul>
                            <!--/ End Tab Nav -->
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <!-- Start Single Tab -->
                            @Html.Action("SendCategoryIdDel", "Products", new { Id = categoryid })
                            @*@Html.Action("SendCategoryId", "Products", new { Id = categoryid })*@

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-area most-popular section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Sản phẩm bán chạy</h2>
                    </div>
                </div>
            </div>
            <div class="aa-promo-header ">
                <h4 class="aa-promo-list-new "><a href="/products/producthot">Xem tất cả<i class="ti-angle-right "></i></a></h4>
                <div class="clr "></div>
            </div>

            <div class="row">
                <div class="col-12 ">
                    <div class="owl-carousel popular-slider ">
                        @foreach (var item in hotproduct)
                        {
                            <div class="single-product ">
                                <div class="product-img ">
                                    <a href="/products/xemchitiet/@item.Id">
                                        <img class="default-img" src="@Html.Action("getimage", "image", new { id = item.Id  })" alt="#" width="100%" height="100%">
                                        <img class="hover-img" src="@Html.Action("getimage", "image", new { id = item.Id })" alt="#">
                                        <span class="out-of-stock ">Hot</span>


                                    </a>
                                    <div class="button-head ">
                                        <div class="product-action ">
                                            <a href="/shop/index/@item.IdShop"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                            <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                        </div>
                                        <div class="product-action-2 ">
                                            <a title="Add to cart " href="# ">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content ">
                                    <h3><a href="/products/xemchitiet/@item.Id">@item.Name</a></h3>
                                    <div class="product-price ">
                                        @{
                                            var delPrice = item.Price - item.Price * item.Discount / 100;
                                        }
                                        <span class="old">@item.Price</span>
                                        <span>@delPrice</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area most-popular section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>Sản phẩm mới</h2>
                        </div>
                    </div>
                </div>
                <div class="aa-promo-header ">
                    <h4 class="aa-promo-list-new "><a href="/products/productnew">Xem tất cả<i class="ti-angle-right "></i></a></h4>
                    <div class="clr "></div>
                </div>

                <div class="row">
                    <div class="col-12 ">
                        <div class="owl-carousel popular-slider ">
                            @foreach (var item in newproduct)
                            {
                                <div class="single-product ">
                                    <div class="product-img ">
                                        <a href="/products/xemchitiet/@item.Id">
                                            <img class="default-img" src="@Html.Action("getimage", "image", new { id = item.Id  })" alt="#" width="100%" height="100%">
                                            <img class="hover-img" src="@Html.Action("getimage", "image", new { id = item.Id })" alt="#">
                                            <span class="new">New</span>
                                        </a>
                                        <div class="button-head ">
                                            <div class="product-action ">
                                                <a href="/shop/index/@item.IdShop"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                            </div>
                                            <div class="product-action-2 ">
                                                <a title="Add to cart " href="# ">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content ">
                                        <h3><a href="/products/xemchitiet/@item.Id">@item.Name</a></h3>
                                        <div class="product-price ">
                                            @{
                                                var delPrice = item.Price - item.Price * item.Discount / 100;
                                            }
                                            <span class="old">@item.Price</span>
                                            <span>@delPrice</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer class="footer">
        <!-- Footer Top -->
        <div class="footer-top section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer about">
                            <div class="logo">
                                @*<a href="index.html"><img src="images/logo2.png" alt="#"></a>*@
                                <a href="/"><img src="~/Assets/User/images/logo-login-small.png" alt="#"></a>
                            </div>
                            <p class="text"><i class="fas fa-tags"></i> Đây là trang thương mại điện tử chuyên về <a href="/" style="color: #f7941d" title="Trang chủ">THIẾT BỊ ĐIỆN TỬ</a> uy tín chất lượng hàng đầu Việt Nam.</p>
                            <p class="text"> <i class="fas fa-tags"></i> Chúng tôi cam kết cung cấp các sản phẩm chính hãng và chất lượng nhất.</p>
                            <p class="call">Liên hệ 24/7 <span><a href="tel:123456789">+0123 456 789</a></span></p>
                        </div>
                        <!-- End Single Widget -->
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer social">
                            <h4>LIÊN HỆ VỚI CHÚNG TÔI</h4>
                            <!-- Single Widget -->
                            <div class="contact">
                                <ul>
                                    <li>54 Nguyễn Lương Bằng, Hoà Khánh Bắc, Liên Chiểu, Đà Nẵng.</li>
                                    <li>info@eshop.com</li>
                                    <li>+032 3456 7890</li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                            <ul>
                                <li><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></li>
                                <li><a href="https://twitter.com/?lang=vi"><i class="ti-twitter"></i></a></li>
                                <li><a href="https://www.flickr.com/"><i class="ti-flickr"></i></a></li>
                                <li><a href="https://www.instagram.com/"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->
        <div class="copyright">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="left">
                                <p>Copyright © 2021 <a href="http://www.wpthemesgrid.com" target="_blank">EcommerceShop</a> - All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="right">
                                @*<img src="~/Assets/User/User/images/payments.png" alt="#">*@
                                <img src="~/Assets/User/images/payments.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
