
@{
    ViewBag.Title = "ViewDetail";
    Layout = "~/Areas/Seller/Views/Shared/_Layout.cshtml";
    decimal SumPrice = 0;
    int i = 1;
    Ecommerce.Areas.Seller.Models.MyOrder myOrder = Model.FirstOrDefault();
    foreach (var item in Model)
    {
        SumPrice += item.Price * item.Amount;
    }
}

@model PagedList.IPagedList<Ecommerce.Areas.Seller.Models.MyOrder>
@using PagedList.Mvc;

@section header{
    Quản Lý Đơn Hàng
}
@section jsFooter{
    <script src="~/Assets/Shop/js/controller/ProductController.js"></script>
}
<div class="row">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-body">
                @using (Html.BeginForm("ViewDetail", "Order", FormMethod.Post))
                {
                    <div class="row form-group">
                        <div class="col-md-4 form-group">
                            <input type="text" value="@ViewBag.SearchString" class="form-control bg-light border-0 small" placeholder="Search for..." name="searchString" />
                        </div>
                        <div class="col-md-4 form-group">
                            <button class="btn btn-success" type="submit">
                                Tìm kiếm
                            </button>
                        </div>
                    </div>
                }
                <hr />
                <h5>CHI TIẾT SẢN PHẨM</h5>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên Sản Phẩm</th>
                                <th>Số lượng</th>
                                <th>Giá</th>
                            </tr>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.Id">
                                    <td>@(i++)</td>
                                    <td>@item.NameProduct</td>
                                    <td>@item.Amount</td>
                                    <td>@item.Price</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("ViewDetail", new { page, @searchString = @ViewBag.SearchString }))
                </div>
                <hr />
                <h3 class="checkout-form-title-ordered">Thông tin đơn hàng</h3>
                <div class="container rounded bg-white mt-1 mb-1">
                    <div class="row ">
                        <div class="col-lg-12 col-12 ">
                            <div class="checkout-form ">

                                <!-- Form -->
                                <form class="form " method="post " action="# ">
                                    <div class="row ">
                                        <div class="col-lg-6 col-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label for="idOrder ">Mã đơn hàng<span>*</span></label>
                                                <br />
                                                <input type="text " name="idOrder " id="idOrder " placeholder=" " required="required " readonly="readonly " value="@myOrder.Id">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label for="name ">Tên khách hàng<span>*</span></label>
                                                <br />
                                                <input type="text " name="name " id="name " placeholder=" " required="required " readonly="readonly " value="@myOrder.NameUser">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label for="email ">Email<span>*</span></label>
                                                <br />
                                                <input type="email " name="email " id="email" placeholder=" " required="required " readonly value="@myOrder.Email">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label class="phone ">Số điện thoại<span>*</span></label> <br />
                                                <input type="phone " name="phone " id="phone " placeholder=" " required="required " readonly value="@myOrder.PhoneNumber">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label for="address ">Địa chỉ<span>*</span></label> <br />
                                                <textarea type="text " name="address " id="address " placeholder=" " readonly required="required ">@myOrder.Address</textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label class="amount ">Tổng tiền<span>*</span></label> <br />
                                                <input type="text " name="amount " id="amount " placeholder=" " required="required " readonly value="@SumPrice VNĐ">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label for="message ">Ghi chú<span>*</span></label> <br />
                                                <textarea name="message" id="message" readonly value="@myOrder.Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label for="message ">Kiểu thanh toán<span>*</span></label> <br />
                                                <input type="text " name="payment " id="payment" placeholder=" " required="required " readonly value="@myOrder.NamePayment">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label class="checkoutStatus">Thanh toán<span>*</span></label><br />
                                                <input type="text " name="checkoutStatus " id="checkoutStatus" placeholder=" " required="required " readonly value="@myOrder.CheckoutStatus">

                                            </div>
                                        </div>
                                        <div class="col-lgcol-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label class="deliveryStatus ">Trạng thái<span>*</span></label><br />

                                                @if (myOrder.DeliveryStatus == "Đang xử lý")
                                                {
                                                    <select name="deliveryStatus">
                                                        <option value="0" checked>Đang xử lí</option>
                                                        <option value="1">Đang giao</option>
                                                    </select>
                                                }
                                                else if (myOrder.DeliveryStatus == "Đang giao")
                                                {
                                                    <select name="deliveryStatus">
                                                        <option value="1" checked>Đang giao</option>
                                                        <option value="2">Đã giao</option>
                                                    </select>
                                                }
                                                else if (myOrder.DeliveryStatus == "Đã giao")
                                                {
                                                    <input type="text " name="payment " id="payment" placeholder=" " required="required " readonly value="Đã giao" />
                                                }
                                                else if (myOrder.DeliveryStatus == "Đã huỷ")
                                                {
                                                    <input type="text " name="payment " id="payment" placeholder=" " required="required " readonly value="Đã huỷ" />
                                                }
                                                else if (myOrder.DeliveryStatus == "Đã trả hàng/Hoàn tiền")
                                                {
                                                    <input type="text " name="payment " id="payment" placeholder=" " required="required " readonly value="Đã trả hàng/ Hoàn tiền" />
                                                }
                                            </div>
                                        </div>

                                        <div class="single-widget get-button">
                                            <div class="content">
                                                @if (myOrder.DeliveryStatus == "Đã giao" || myOrder.DeliveryStatus == "Đã huỷ" || myOrder.DeliveryStatus == "Đã tả hàng/Hoàn tiền")
                                                {
                                                    <button type=submit class="btn btn-primary" disabled>
                                                        Cập nhật
                                                    </button>

                                                }
                                                else
                                                {
                                                    <button type=submit class="btn btn-primary">
                                                        Cập nhật
                                                    </button>
                                                }

                                            </div>
                                        </div>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        @*@Html.PagedListPager(Model, page => Url.Action("ViewDetail", new { page, @searchString = @ViewBag.SearchString }))*@
    </div>
</div>



