@using Model.EF

@*@model Model.EF.User*@
@model List<Ecommerce.Models.CartItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    EcommerceContext db = new EcommerceContext();
    int id = int.Parse(Request.Cookies["IdUser"].Value);
    var acc = from e in db.Users
              where e.Id == id
              select e;
}


<!-- Start Checkout -->
@using (Html.BeginForm("Transaction", "Cart", FormMethod.Post))
{
    <section class="shop checkout section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="checkout-form">

                        <h2>Make Your Checkout Here</h2>
                        <div class="cart-view-area">
                            <div class="cart-view-table">
                                <div class="table-responsive">
                                    <table class="table shopping-summery">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Mô tả</th>
                                                <th class="text-center">Sản phẩm</th>
                                                <th class="text-center">Giá</th>
                                                <th class="text-center">Số lượng</th>
                                                <th class="text-center">Giảm giá</th>
                                                <th class="text-center">Thành Tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <c:forEach items="@item._IdProduct" var="item">
                                                    <tr>
                                                        <td>
                                                            <a href="/products/xemchitiet/@item._IdProduct"><img src="@item._Image"></a>
                                                        </td>
                                                        <td><a class="aa-cart-title" href="/products/xemchitiet/@item._IdProduct">@item._ProductName</a></td>
                                                        <td>@(String.Format("{0:0,0 VNĐ}", item._Price))</td>
                                                        <td>
                                                            <div class="input-group mb-3" style="max-width: 80px;">
                                                                <input type="text" class=" text-center" value="@item._Amount"readonly style="border-left-width: 0px;border-bottom-width: 0px;height: 31.994318px;width: 30.994318px;">
                                                            </div>
                                                        </td>
                                                        <td>@item._Discount %</td>
                                                        <td>@(String.Format("{0:0,0 VNĐ}", item._Total))</td>
                                                    </tr>
                                                </c:forEach>
                                            }
                                            @*<tr>
                                                    <td colspan="6" class=""><strong>TỔNG TIỀN</strong></td>
                                                    <td><strong>@Html.Action("total", "cart")</strong></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="7" class="aa-cart-view-bottom">
                                                        @if (Session["Name"] != null)
                                                        {
                                                            <a href="/payment/index/@Session["IdUser"]" class="aa-cart-view-btn">Thanh toán</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="/login/login" class="aa-cart-view-btn">Thanh toán</a>

                                                        }
                                                    </td>
                                                </tr>*@
                                        </tbody>
                                    </table>
                                    <div>
                                        <label for="address ">Ghi chú<span>*</span></label>
                                        <input type="text" name="Mess" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<p>Please register in order to checkout more quickly</p>*@
                        <!-- Form -->
                        @*@using (Html.BeginForm("UpdateInfo", "Payment", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <form class="form " method="post" action="# ">
                                    <div class="row ">
                                        <div class="col-lg-12 col-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label for="DOB ">Họ và Tên<span>*</span></label>
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "DOB", @style = "width: 100%;height: 45px;line - height: 50px;padding: 0 20px;border - radius: 3px; border - radius: 0px;color: #333 !important;border: none;background: #F6F7FB;" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label for="username ">Username<span>*</span></label>
                                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "username", @style = "width: 100%;height: 45px;line - height: 50px;padding: 0 20px;border - radius: 3px; border - radius: 0px;color: #333 !important;border: none;background: #F6F7FB;" } })
                                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.Id)
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label for="email ">Email<span>*</span></label>
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "email", @style = "width: 100%;height: 45px;line - height: 50px;padding: 0 20px;border - radius: 3px; border - radius: 0px;color: #333 !important;border: none;background: #F6F7FB;" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label for="address ">Địa chỉ<span>*</span></label>
                                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", id = "address", @style = "width: 100%;height: 45px;line - height: 50px;padding: 0 20px;border - radius: 3px; border - radius: 0px;color: #333 !important;border: none;background: #F6F7FB;" } })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label class="phone ">Phone Number<span>*</span></label>
                                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", id = "phone", @style = "width: 100%;height: 45px;line - height: 50px;padding: 0 20px;border - radius: 3px; border - radius: 0px;color: #333 !important;border: none;background: #F6F7FB;" } })
                                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label for="gender ">Giới tính<span>*</span></label><br />
                                                <label> @Html.RadioButtonFor(model => model.Gender, true, new { htmlAttributes = new { @checked = true, @class = "form-control", @style = "padding: 0 20px" } }) Nam</label>
                                                <label>@Html.RadioButtonFor(model => model.Gender, false, new { htmlAttributes = new { @checked = false, @class = "form-control" } }) Nữ</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 ">
                                            <div class="form-group ">
                                                <label for="DOB ">Ngày sinh<span>*</span></label>
                                                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", id = "DOB", @style = "width: 100%;height: 45px;line - height: 50px;padding: 0 20px;border - radius: 3px; border - radius: 0px;color: #333 !important;border: none;background: #F6F7FB;" } })
                                                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }*@
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="order-details">
                        <!-- Order Widget -->
                        <div class="single-widget">
                            <h2>CART TOTALS</h2>
                            <div class="content">
                                <ul>
                                    <li>Sub Total<span>@Html.Action("Total", "Cart")</span></li>
                                    <li>(+) Shipping<span>30,000 VNĐ</span></li>
                                    <li class="last">Total<span>@Html.Action("Total_Ship", "Cart")</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-widget">
                            <h2>Address</h2>
                            <div class="content">
                                <div class="form-group ">
                                    <label for="address ">Địa chỉ<span>*</span></label>
                                    <input type="text" name="Address" />
                                </div>
                            </div>
                        </div>
                        <!--/ End Order Widget -->
                        <!-- Order Widget -->
                        <div class="single-widget">
                            <h2>Payments</h2>
                            <div class="content">
                                <div class="checkbox">
                                    <label class="checkbox-inline" for="1"><input name="updates" id="1" type="checkbox"> Check Payments</label>
                                    <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox"> Cash On Delivery</label>
                                    <label class="checkbox-inline" for="3"><input name="news" id="3" type="checkbox"> PayPal</label>
                                </div>
                            </div>
                        </div>
                        <!--/ End Order Widget -->
                        <!-- Payment Method Widget -->
                        <div class="single-widget payement">
                            <div class="content">
                                <img src="~/Assets/User/images/payment-method.png" alt="#">
                            </div>
                        </div>
                        <!--/ End Payment Method Widget onclick="location.href='/home/index';" -->
                        <!-- Button Widget -->
                        <div class="form-group">
                            <div class="single-widget get-button">
                                <div class="content">
                                    <div class="button">
                                        @*<a href="#" class="btn">proceed to checkout</a>*@
                                        <input type="submit" value="proceed to checkout" class="btn" />
                                    </div>
                                </div>
                                <!--/ End Button Widget -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Checkout -->

}
